.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
body{
    margin: 0;
    background-color: #f8f9fa;
}
/* background */
.bg_blue1{
    background-color:#0005CE;

}
.bg_blue2{
    background-color:#0080FF;
    
}
.bg_blue3{
    background-color:#00C3F9;
    
}
.bg_blue4{
    background-color:rgb(79, 238, 209);
    
}
/* texts */
.txt_white{
    color:#f8f9fa;
}
.txt_gray{
    color: #AFA8BA;
}
.txt_gray2{
   color: #4A4453 ;
}
.txt_blue4{
    color:rgb(79, 238, 209) ;
}
.txt_blue3{
    color:#00C3F9 ;
}
/* navbar */

/* home */
#home{
    background-image: url('./img/bg_3.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: top;
}
#home .btn-primary{
    background-color:#00C3F9 ;
    border: #00C3F9;
}
#home .container-fluid{
    height: 85vh;
    margin: 0;
}
/* values */
#values .container-fluid{
    margin: 0;
    padding: 0;
}

#values .col-md-3{
    padding-top: 1em;
    padding-bottom: 1em;
}
/* services */
#service .container-fluid{
    margin: 0 !important;
}
#service .row{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
/* querys */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
